body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f7d65a;
  background-image:url("../Imagenes_de_la_web/recursos/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: center;
  margin: 0;
  min-height: 100vh;
}

header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  color: #FFDE63;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.15);
  background: #FFDE63;
  text-align: center;
  padding: 25px;
  color: #415E72;
  font-size: 2em;
  font-weight: bold;
}
header {
    position: fixed;
    background-color: rgb(236, 203, 13);
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header .logo img {
    height: 90px;
    width: auto;
    display: block;
}
.navigation {
    display: flex;
    align-items: center;
    gap: 90px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.navigation a.btnLogin-popup::after {
    display: none;
}

.btnLogin-popup {
    border: 2px solid rgb(102, 84, 134);
    background-color: rgb(247, 198, 109);
    color: rgb(88, 54, 3);
    padding: 8px 20px;
    border-radius: 7px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s;
    display: block;
    width: fit-content;
    margin: 20px auto;
    text-align: center;
}

.btnLogin-popup:hover {
    background-color: rgb(88, 54, 3);
    color: rgb(247, 198, 109);
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: rgb(102, 84, 134);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .btnLogin-popup:hover {
    background: rgb(102, 84, 134);
    color: solid black;
}


.catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.extra {
  background: #F3E2D4;
  padding: 30px;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.extra h2 {
  color: #444;
  margin-bottom: 10px;
}

.extra p {
  color: #555;
  line-height: 1.6;
}

.producto {
  background-color: rgba(255,255,255, 0.5);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.producto:hover {
  transform: scale(1.03);
}

.producto img {
  max-width: 100%;
  border-radius: 10px;
}

.precio {
  font-size: 1.2em;
  color: #444;
  margin: 10px 0;
}

.btn-ingredientes {
  background: #415E72;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-ingredientes:hover {
  background: #5ea05e;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal-contenido {
  background: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

#cerrar {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

footer {
  background: #FFDE63;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}
.footer {
    text-align: center;
    padding: 20px 50px;
    position: relative;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
    gap: 15px;
}

.social-icon,
.menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: rgb(107, 90, 13);
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu a {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.menu-elem {
    list-style: none;
}

.menu-icon {
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.text {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.limones-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px auto;
    padding: 0 20px;
    /* margen a los lados */
}

.limones-footer img {
    width: 50px;
}

footer img {
  width: 40px;
  vertical-align: middle;
  margin-bottom: 5px;
}

footer p {
  margin: 5px 0;
  color: #333;
  font-weight: bold;
}