* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../Imagenes_de_la_web/FondoLimon2.0.png) no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

hr {
    width: 100%;
    border: none;
    border-top: 2px solid rgb(219, 187, 3);
    margin: 40 px 0;
}

header {
    position: fixed;
    background-color: rgb(150, 130, 22);
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header .logo img {
    height: 90px;
    width: auto;
    display: block;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 90px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.navigation a.btnLogin-popup::after {
    display: none;
}

.btnLogin-popup {
    border: 2px solid rgb(233, 224, 247);
    background-color: rgb(228, 219, 93);
    color: rgb(88, 54, 3);
    padding: 8px 20px;
    border-radius: 7px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s;
    display: block;
    width: fit-content;
    margin: 20px auto;
    text-align: center;
}

.btnLogin-popup:hover {
    background-color: rgb(88, 54, 3);
    color: rgb(247, 198, 109);
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: rgb(197, 177, 61);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .btnLogin-popup:hover {
    background: rgb(238, 238, 240);
    color: solid black;
}

.loginMasImagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 100%;
    height: 100vh;
}

.Imagen {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Imagen video {
    width: 500px;
    height: auto;
    border-radius: 20px;
    border: 10px solid rgb(107, 90, 13);
    box-shadow: 0 0 25px rgb(0, 0, 0);
    object-fit: cover;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(1);
    transition: height .2s ease;
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: grey;
    font-size: 2em;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.wrapper h2,
a,
p {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.form-box h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid grey;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: grey;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: grey;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: brown;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: grey;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: grey;
    margin-right: 3px;
}

.remember-forgot a {
    color: grey;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background-color: grey;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: grey;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: grey;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    padding: 20px 50px;
    position: relative;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
    gap: 15px;
}

.social-icon,
.menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: rgb(107, 90, 13);
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem {
    list-style: none;
}

.menu-icon {
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.text {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

.limones-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px auto;
    padding: 0 20px;
    /* margen a los lados */
}

.limones-footer img {
    width: 50px;
}

.footer {
    text-align: center;
    padding: 20px 50px;
    position: relative;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
    gap: 15px;
}

.social-icon,
.menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: rgb(107, 90, 13);
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem {
    list-style: none;
}

.menu-icon {
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.text {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

.limones-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px auto;
    padding: 0 20px;
    /* margen a los lados */
}

.footer {
    background-color: rgb(150, 130, 22);
}

.limones-footer img {
    width: 50px;
}