* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../Imagenes_de_la_web/fondo3xdd.jpg);
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    background-color: rgb(236, 203, 13);
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header .logo img {
    height: 90px;
    width: auto;
    display: block;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 90px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.navigation a.btnLogin-popup::after {
    display: none;
}

.btnLogin-popup {
    border: 2px solid rgb(102, 84, 134);
    background-color: rgb(247, 198, 109);
    color: rgb(88, 54, 3);
    padding: 8px 20px;
    border-radius: 7px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s;
    display: block;
    width: fit-content;
    margin: 20px auto;
    text-align: center;
}

.btnLogin-popup:hover {
    background-color: rgb(88, 54, 3);
    color: rgb(247, 198, 109);
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: rgb(102, 84, 134);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .btnLogin-popup:hover {
    background: rgb(102, 84, 134);
    color: solid black;
}


/* desde aca titulo*/

#FondoPrincipal {
    background-color: rgb(250, 238, 129);
    margin-top: 130px;
}

#Titulo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.Lime {
    display: block;
    margin: 0 auto;
    height: 190px;
}

.LoQueHacemos {
    /*hice cMBIO ACAAA*/
    display: flex;
    gap: 25px;
    justify-self: center;
    margin: 10px;
}

.LoQueHacemos img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    border: 5px solid black;
    object-fit: cover;
}

.subtítulo h2,
h3 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}


/*desde aca*/

.Ver-catalogo {
    border: 2px solid rgb(102, 84, 134);
    background-color: rgb(247, 198, 109);
    color: rgb(88, 54, 3);
    padding: 5px 12px;
    border-radius: 7px;
    text-decoration: none;
    font-size: 25px;
    transition: all 0.3s;
    display: block;
    width: fit-content;
    margin: 20px auto;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.Ver-catalogo:hover {
    background-color: rgb(88, 54, 3);
    color: rgb(247, 198, 109);
}


/* Historias de nuestras recetas*/


/*Arandanos*/

#HistoriaSL {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 25px;
    -webkit-text-stroke: 0.2px #e79315;
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 50px auto;
    max-width: 1200px;
}

.targeta {
    width: 315px;
    min-height: 750px;
    background: transparent;
    border: 2px solid rgb(102, 84, 134);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    padding: 20px 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.targeta:hover {
    transform: scale(1.05);
}

.targeta h2 {
    font-size: 2em;
    color: black;
    margin-bottom: 20px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.targeta p {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(54, 53, 53);
    font-size: 18px;
    padding: 0 15px;
}

.targeta img {
    border: 3px solid rgb(17, 15, 0);
    border-radius: 25px;
    width: 100%;
    height: 170px;
    object-fit: cover;
    margin-bottom: 15px;
}


/*pavlova*/

.wrapperP {
    width: 315px;
    height: auto;
    background: transparent;
    border: 2px solid rgb(102, 84, 134);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapperP:hover {
    transform: scale(1.05);
}

.box-Pavlova h2 {
    font-size: 2em;
    color: black;
    text-align: center;
    margin-bottom: 50px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.Pavlova p {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(54, 53, 53);
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    padding: 0 40px;
}

.Tpavlova {
    border: 3px solid rgb(17, 15, 0);
    border-radius: 25px;
    width: 100%;
    height: 170px;
    object-fit: cover;
}


/*Easter Petit four*/

.wrapperPF {
    width: 315px;
    height: auto;
    background: transparent;
    border: 2px solid rgb(102, 84, 134);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapperPF:hover {
    transform: scale(1.05);
}

.box-PetitFour h2 {
    font-size: 2em;
    color: black;
    text-align: center;
    margin-bottom: 50px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.Petit_Four p {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(54, 53, 53);
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    padding: 0 40px;
}

.EasterPF {
    border: 3px solid rgb(17, 15, 0);
    border-radius: 25px;
    width: 100%;
    height: 170px;
    object-fit: cover;
}


/*Fin de las historias*/

.footer {
    text-align: center;
    padding: 20px 50px;
    position: relative;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
    gap: 15px;
}

.social-icon,
.menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: rgb(107, 90, 13);
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu a {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.menu-elem {
    list-style: none;
}

.menu-icon {
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.text {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.limones-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px auto;
    padding: 0 20px;
    /* margen a los lados */
}

.footer {
    background-color: #f8c008;
}

.limones-footer img {
    width: 50px;
}