* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../Imagenes_de_la_web/FondoLimon2.0.png) no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 130px;
}

.Lime {
    display: block;
    margin: -20px auto 10px;
    height: 190px;
    width: 200px;
}

h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(2, 2, 1);
}

hr {
    width: 100%;
    border: none;
    border-top: 2px solid grey;
    margin: 40 px 0;
}

header {
    position: fixed;
    background-color: rgb(150, 130, 22);
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header .logo img {
    height: 100px;
    width: auto;
    display: block;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 90px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.navigation a.btnLogin-popup::after {
    display: none;
}

.btnLogin-popup {
    border: 2px solid rgb(233, 224, 247);
    background-color: rgb(228, 219, 93);
    color: rgb(88, 54, 3);
    padding: 8px 20px;
    border-radius: 7px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s;
    display: block;
    width: fit-content;
    margin: 20px auto;
    text-align: center;
}

.btnLogin-popup:hover {
    background-color: rgb(88, 54, 3);
    color: rgb(247, 198, 109);
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: rgb(197, 177, 61);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .btnLogin-popup:hover {
    background: rgb(238, 238, 240);
    color: solid black;
}

.wrapper {
    position: relative;
    width: 1200px;
    height: 770px;
    background: transparent;
    border: 2px solid rgb(102, 84, 134);
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    margin-left: 67%;
    margin-right: 67%;
}

.wrapper:hover {
    transform: scale(1.05);
    border-color: #ac8f33;
    box-shadow: 0 5px 15px rgb(54, 53, 53);
}

.form-box h2 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 0px;
    font-size: 20px;
    font-size: 35px;
}

.About {
    position: relative;
    width: 1200px;
    background-color: rgb(235, 212, 86);
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 10px rgb(102, 84, 134);
}

.About p {
    font-family: "Caprasimo", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
}

.wrapper:hover .About {
    opacity: 1;
    max-height: 2000px;
}

.Local {
    width: 800px;
    height: 450px;
    border: 2px solid rgb(236, 203, 13);
    border-radius: 25px;
    object-fit: cover;
    flex-shrink: 0;
}

.wrapper2 {
    position: relative;
    width: 255px;
    height: 200px;
    background: transparent;
    border: 2px solid rgb(102, 84, 134);
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    overflow: visible;
    margin-left: 0;
    margin-right: 67%;
}

.wrapper2:hover {
    transform: scale(1.05);
    border-color: #ac8f33;
    box-shadow: 0 5px 15px rgb(54, 53, 53);
}

.form-box2 h2 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 0px;
    font-size: 20px;
}

.info-text {
    position: absolute;
    top: 0;
    left: 250px;
    width: 500px;
    height: 100%;
    background-color: rgb(235, 212, 86);
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 10px rgb(102, 84, 134);
    opacity: 0;
    transform: translateX(10px);
    transition: all 0.4s ease;
}

.info-text h2 {
    font-family: "Caprasimo", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
}

.wrapper2:hover .info-text {
    opacity: 1;
    transform: translateX(0);
}

.Open {
    width: 250px;
    height: 200px;
    border: 2px solid rgb(236, 203, 13);
    border-radius: 25px;
}

.wrapper3 {
    position: relative;
    width: 255px;
    height: 200px;
    background: transparent;
    border: 2px solid rgb(102, 84, 134);
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    overflow: visible;
    margin-left: 0;
    margin-right: 67%;
}

.wrapper3:hover {
    transform: scale(1.05);
    border-color: #ac8f33;
    box-shadow: 0 5px 15px rgb(54, 53, 53);
}

.form-box3 h2 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 0px;
    font-size: 20px;
}

.Cupcake_banana {
    position: absolute;
    top: 0;
    left: 250px;
    width: 500px;
    height: 100%;
    background-color: rgb(235, 212, 86);
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 10px rgb(102, 84, 134);
    opacity: 0;
    transform: translateX(10px);
    transition: all 0.4s ease;
}

.Cupcake_banana h2 {
    font-family: "Caprasimo", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
}

.wrapper3:hover .Cupcake_banana {
    opacity: 1;
    transform: translateX(0);
}

.Banana {
    width: 250px;
    height: 165px;
    border: 2px solid rgb(236, 203, 13);
    border-radius: 25px;
}

.footer {
    text-align: center;
    padding: 20px 50px;
    position: relative;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
    gap: 15px;
}

.social-icon,
.menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: rgb(107, 90, 13);
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem {
    list-style: none;
}

.menu-icon {
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.menu a {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.text {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.limones-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px auto;
    padding: 0 20px;
    /* margen a los lados */
}

.footer {
    background-color: rgb(150, 130, 22);
}

.limones-footer img {
    width: 50px;
}