body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fffefc;
}

header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  color: #FFD93D;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.15);
  background: #f7d65a; /* amarillo tipo limón */
  text-align: center;
  padding: 25px;
  color: #9A3F3F;
  font-size: 2em;
  font-weight: bold;
  background-image: url("recursos/descarga.jpg");
  background-size: cover;
  background-position: center;
}

.catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.extra {
  background: #F7CFD8;
  padding: 30px;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.extra h2 {
  color: #444;
  margin-bottom: 10px;
}

.extra p {
  color: #555;
  line-height: 1.6;
}

.producto {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.producto:hover {
  transform: scale(1.03);
}

.producto img {
  max-width: 100%;
  border-radius: 10px;
}

.precio {
  font-size: 1.2em;
  color: #444;
  margin: 10px 0;
}

.btn-ingredientes {
  background: #7cc27c; /* verde lima pastel */
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-ingredientes:hover {
  background: #5ea05e;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal-contenido {
  background: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

#cerrar {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

footer {
  background: #f7d65a;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}

footer img {
  width: 40px;
  vertical-align: middle;
  margin-bottom: 5px;
}

footer p {
  margin: 5px 0;
  color: #333;
  font-weight: bold;
}