#FondoPrincipal {
    background-color: rgb(241, 241, 89);
}

#Titulo {
    font-family: sans-serif;
    text-align: center;
}

.Lime {
    display: block;
    margin: 0 auto;
}

.LoQueHacemos {
    display: flex;
    gap: 10px;
    justify-self: center;
    border: 4px solid rgb(241, 202, 71);
    border-radius: 20px;
    padding: 5px;
    background-color: #d1c347;
}

.LoQueHacemos img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.LoQueHacemos:hover {
    border: 6px black;
}